/semesterprojekt_E17_client/nbproject/private/
/semesterprojekt_E17_server/nbproject/private/
/semesterprojekt_E17_server/build/
/semesterprojekt_E17_client/dist/
/semesterprojekt_E17_interfaces/nbproject/private/
/semesterprojekt_E17_interfaces/dist/
/semesterprojekt_E17_interfaces/build/
/semesterprojekt_E17_server/dist/
/semesterprojektE17server/nbproject/private/
/semesterprojektE17server/build/
/semesterprojektE17server/dist/
/semesterprojekt_E17/nbproject/private/
/semesterprojekt_E17/build/
/semesterprojekt_E17/dist/